
:root {
  --input-bg-color: var(--background-color);
  --input-border-color: var(--border-color);
  --input-text-color: var(--text-color);
  --input-placeholder-color: var(--sub-text-color);
  --input-invalid-border-color: var(--border-color);
  --input-invalid-text-color: var(--text-color);
  --input-border: 1px solid var(--input-border-color);
  --alpha-lighten: 70%;
  --font-size: 17px;
  --font-weight: 400;
  --material-font-size: 17px;
  --material-font-weight: 400;
  --font-size--mini: calc(var(--font-size) - 3px);
  --font-weight--large: 500;
  --background-color--input: transparent;
}

html {
  height: 100%;
  width: 100%;
}

body {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea, select {
  user-select: auto;
  -moz-user-select: text;
}

input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus {
  outline: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4, h5, h6 {
  font-size: 18px;
}
