
:root {
  --reset-font: {
    font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: var(--font-weight);
  }

  --reset-box-model: {
    box-sizing: border-box;
    background-clip: padding-box;
  }

  --reset-base: {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
  }

  --reset-input: {
    @apply(--reset-box-model);
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    vertical-align: top;
    outline: none;
    line-height: 1;
  }

  --hide-input: {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    z-index: 1;
    vertical-align: top;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
    appearance: none;
  }

  --hide-input-parent: {
    position: relative;
  }

  --reset-cursor: {
    cursor: default;
    user-select: none;
  }

  --reset-overflow: {
    white-space: nowrap;
    overflow: hidden;
  }

  --reset-container: {
    @apply(--reset-box-model);
    @apply(--reset-overflow);
    word-spacing: 0;
  }

  --ellipsis: {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  --disabled: {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }

  --input: {
    @apply(--reset-input);
    @apply(--reset-font);
  }

  --transparent: {
    border: none;
    background-color: transparent;
  }

  @custom-media --retina-query (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);

  --material-font: {
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: var(--material-font-weight);
  }

  --material-shadow-0: {
    box-shadow: none;
  }

  --material-shadow-1: {
    box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  --material-shadow-2: {
    box-shadow:
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12),
      0 2px 4px -1px rgba(0, 0, 0, 0.4);
  }

  --material-shadow-3: {
    box-shadow:
      0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12),
      0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }

  --material-shadow-4: {
    box-shadow:
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }

  --material-shadow-5: {
    box-shadow:
      0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.4);
  }

  --checkmark: {
    content: '';
    position: absolute;
    top: 7px;
    left: 4px;
    opacity: 0;
    width: 11px;
    height: 4px;
    background: transparent;
    border: 2px solid var(--highlight-color);
    border-top: none;
    border-right: none;
    border-radius: 0;
    transform: rotate(-45deg);
  }
}
