
:root {
  --background-color: #f9f9f9;
  --text-color: #1f1f21;
  --sub-text-color: #999;
  --highlight-color: rgba(24, 103, 194, 0.81);
  --second-highlight-color: #25a6d9;
  --border-color: #ccc;
  --toolbar-background-color: #fff;
  --toolbar-button-color: rgba(38, 100, 171, 0.81);
  --toolbar-text-color: #1f1f21;
  --toolbar-border-color: #bbb;
  --button-bar-color: rgba(18, 114, 224, 0.77);
  --button-bar-active-text-color: #fff;
  --segment-color: rgba(18, 114, 224, 0.77);
  --segment-active-text-color: #fff;
  --list-background-color: #fff;
  --list-header-background-color: #eee;
  --list-tap-active-background-color: #d9d9d9;
  --progress-bar-color: rgba(24, 103, 194, 0.81);
  --progress-bar-secondary-color: rgba(24, 103, 194, 0.4);
  --progress-bar-background-color: #b6b6b6;
  --progress-circle-primary-color: rgba(24, 103, 194, 0.81);
  --progress-circle-secondary-color: rgba(24, 103, 194, 0.81);
  --progress-circle-background-color: #ddd;
  --tabbar-background-color: #fff;
  --tabbar-text-color: #999;
  --tabbar-highlight-text-color: rgba(24, 103, 194, 0.81);
  --tabbar-border-color: #ccc;
  --switch-highlight-color: #5198db;
  --modal-background-color: rgba(0, 0, 0, 0.7);
  --modal-text-color: #fff;
  --alert-dialog-background-color: #f4f4f4;
  --alert-dialog-text-color: #1f1f21;
  --alert-dialog-button-color: rgba(24, 103, 194, 0.81);
  --alert-dialog-separator-color: #ddd;
  --dialog-background-color: #f4f4f4;
  --popover-background-color: white;
  --popover-text-color: #1f1f21;
  --notification-background-color: #dc5236;
  --fab-text-color: #ffffff;
  --fab-background-color: rgba(24, 103, 194, 0.81);
  --fab-active-background-color: rgba(24, 103, 194, 0.61);
  --material-background-color: #ffffff;
  --material-notification-background-color: #e91e63;
  --material-switch-active-thumb-color: #009688;
  --material-switch-inactive-thumb-color: #f1f1f1;
  --material-switch-active-background-color: #77c2bb;
  --material-switch-inactive-background-color: #b0afaf;
  --material-range-track-color: #bdbdbd;
  --material-range-thumb-color: #009688;
  --material-toolbar-background-color: #009688;
  --material-toolbar-text-color: #ffffff;
  --material-toolbar-button-color: #ffffff;
  --material-button-background-color: #009688;
  --material-button-text-color: #ffffff;
  --material-checkbox-active-color: #009688;
  --material-checkbox-inactive-color: #717171;
  --material-checkbox-checkmark-color: #ffffff;
  --material-radio-button-active-color: #009688;
  --material-radio-button-inactive-color: #717171;
  --material-text-input-text-color: #212121;
  --material-text-input-active-color: #009688;
  --material-text-input-inactive-color: #afafaf;
  --material-dialog-background-color: #ffffff;
  --material-alert-dialog-background-color: #ffffff;
  --material-alert-dialog-title-color: #212121;
  --material-alert-dialog-content-color: #727272;
  --material-alert-dialog-button-color: #009688;
  --material-progress-bar-primary-color: #009688;
  --material-progress-bar-secondary-color: #80cbc4;
  --material-progress-bar-background-color: #e0e0e0;
  --material-progress-circle-primary-color: #009688;
  --material-progress-circle-secondary-color: #80cbc4;
  --material-progress-circle-background-color: #dbdbdb;
  --material-tabbar-background-color: #009688;
  --material-tabbar-text-color: rgba(255, 255, 255, 0.6);
  --material-tabbar-highlight-text-color: #ffffff;
  --material-tabbar-highlight-color: #26a69a;
  --material-fab-text-color: #ffffff;
  --material-fab-background-color: #009688;
  --material-fab-active-background-color: rgba(0, 150, 136, 0.85);
}
