@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('helveticaneuelight.eot');
    src: url('helveticaneuelight.eot') format('embedded-opentype'),
         url('helveticaneuelight.woff') format('woff'),
         url('helveticaneuelight.ttf') format('truetype'),
         url('helveticaneuelight.svg#HelveticaNeueLight') format('svg');
}
