@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('helveticaneuebold.eot');
    src: url('helveticaneuebold.eot') format('embedded-opentype'),
         url('helveticaneuebold.woff') format('woff'),
         url('helveticaneuebold.ttf') format('truetype'),
         url('helveticaneuebold.svg#HelveticaNeueBold') format('svg');
}
