@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('helveticaneuemedium.eot');
    src: url('helveticaneuemedium.eot') format('embedded-opentype'),
         url('helveticaneuemedium.woff') format('woff'),
         url('helveticaneuemedium.ttf') format('truetype'),
         url('helveticaneuemedium.svg#HelveticaNeueMedium') format('svg');
}
