@font-face {
    font-family: 'HelveticaNeueUltraLightItalic';
    src: url('helveticaneueultralightitalic.eot');
    src: url('helveticaneueultralightitalic.eot') format('embedded-opentype'),
         url('helveticaneueultralightitalic.woff') format('woff'),
         url('helveticaneueultralightitalic.ttf') format('truetype'),
         url('helveticaneueultralightitalic.svg#HelveticaNeueUltraLightItalic') format('svg');
}
