@font-face {
    font-family: 'HelveticaNeueBoldItalic';
    src: url('helveticaneuebolditalic.eot');
    src: url('helveticaneuebolditalic.eot') format('embedded-opentype'),
         url('helveticaneuebolditalic.woff') format('woff'),
         url('helveticaneuebolditalic.ttf') format('truetype'),
         url('helveticaneuebolditalic.svg#HelveticaNeueBoldItalic') format('svg');
}
