@font-face {
    font-family: 'HelveticaNeueCondensedBlack';
    src: url('helveticaneuecondensedblack.eot');
    src: url('helveticaneuecondensedblack.eot') format('embedded-opentype'),
         url('helveticaneuecondensedblack.woff') format('woff'),
         url('helveticaneuecondensedblack.ttf') format('truetype'),
         url('helveticaneuecondensedblack.svg#HelveticaNeueCondensedBlack') format('svg');
}
