@font-face {
    font-family: 'HelveticaNeueLightItalic';
    src: url('helveticaneuelightitalic.eot');
    src: url('helveticaneuelightitalic.eot') format('embedded-opentype'),
         url('helveticaneuelightitalic.woff') format('woff'),
         url('helveticaneuelightitalic.ttf') format('truetype'),
         url('helveticaneuelightitalic.svg#HelveticaNeueLightItalic') format('svg');
}
