@font-face {
    font-family: 'HelveticaNeueItalic';
    src: url('helveticaneueitalic.eot');
    src: url('helveticaneueitalic.eot') format('embedded-opentype'),
         url('helveticaneueitalic.woff') format('woff'),
         url('helveticaneueitalic.ttf') format('truetype'),
         url('helveticaneueitalic.svg#HelveticaNeueItalic') format('svg');
}
